body {
  margin: 0;
  font-family: 'Raleway', 'Lato', 'Open Sans', 'Montserrat', sans-serif;
  font-weight: 300; /* Adjusting to a thinner weight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
